json
pandas
plotly
re
os
unidecode
bing_image_urls
streamlit
streamlit_searchbox
scikit-learn
langchain_google_genai
langchain
requests
beautifulsoup4
langchain_core
datetime
google-generativeai
python-dotenv
streamlit_navigation_bar
